.footer {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0;
    border-top: 1px solid #ebe9e1;

    @media (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 15px;
    }

    &__group {
        @media (min-width: 768px) {
            width: 160px;
            display: inline-block;
            vertical-align: top;
        }
    }

    &__panel {
        margin-bottom: 10px;
        @media (min-width: 768px) {
            width: 105px;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 39px;
        }

        @media (min-width: 980px) {
            width: 220px;
        }
    }

    &__logo {
        display: inline-block;
        width: 180px;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__phone {

        a {
            color: #404040;
            font-family: SANS-SERIF;
            font-weight: 600;
            font-size: .94rem;
            position: relative;
            padding-left: 13px;

            img {
                display: block;
                width: 10px;
                height: auto;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        p {
            color: #969999;
            font-size: .71rem;
            margin-bottom: 12px;

            @media (min-width: 768px) {
                font-size: .82rem;
                font-family: 'FedraSansPro-Demi';
            }
        }
    }

    &__list {
        padding-left: 0;
        font-size: 0;

        @media (min-width: 768px) {
            max-width: 360px;
            display: inline-block;
        }
    }

    &__navigation {
        @media (min-width: 768px) {
            width: calc(100% - 265px);
            display: inline-block;
            vertical-align: top;
            padding-left: 60px;
            padding-right: 15px;
            text-align: center;
        }

        @media (min-width: 980px) {
            width: calc(100% - 380px);
        }
    }

    &__item {
        list-style: none;
        display: inline-block;
        vertical-align: top;
        width: 50%;

        a {
            color: #404040;
            line-height: 24px;
            font-size: .71rem;

            @media (min-width: 768px) {
                font-size: .82rem;
                font-family: 'FedraSansPro-Demi';
            }
        }

        @media (min-width: 768px) {
            margin-bottom: 11px;
            max-width: 180px;
            text-align: left;
        }
    }

    &__social-list {
        padding-left: 0;
        font-size: 0;
        margin-bottom: 22px;

        @media (min-width: 768px) {
            padding-top: 7px;
        }

        @media (min-width: 980px) {
            text-align: right;
        }
    }

    &__social-item {
        list-style: none;
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        border-radius: 100%;
        position: relative;

        img {
            position: absolute;
            height: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: block;
            margin: auto;
        }

        &:last-child {
            margin-right: 0;
            background-color: #537196;

            img {
                width: 65%;
            }
        }

        &:first-child {
            background-color: #fd9830;

            img {
                width: 35%;
            }
        }

        &:nth-child(2) {
            background-color: #4666ad;

            img {
                width: 30%;
            }
        }

        a {
            display: block;
            width: 28px;
            height: 28px;
        }
    }

    &__group-link {
        margin-bottom: 25px;
    }

    &__link {
        display: inline-block;
        vertical-align: top;
        width: 105px;
        margin-right: 10px;

        @media (min-width: 768px) {
            margin-right: 0;
            margin-bottom: 10px;
        }

        @media (min-width: 980px) {
            margin-right: 10px;
            margin-bottom: 0;
        }

        &:last-child {
            margin-right: 0;

            @media (min-width: 768px) {
                margin-bottom: 0;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__copyright {
        border-top: 1px solid #ebebeb;
        padding-top: 5px;

        @media (min-width: 768px) {
            padding-top: 10px;
        }

        p {
            margin: 0 0 3px 0;
            color: #808080;
            font-size: .65rem;

            @media (min-width: 768px) {
                margin-bottom: 0;
                display: inline-block;

                &:last-child {
                    float: right;
                }
            }
        }
    }
}
