.menu {
    position: fixed;
    background-color: #fff;
    width: 270px;
    right: -300px;
    top: 50px;
    z-index: 10;
    box-shadow: -1px 0px 3px 1px rgba(0,0,0,.25);
    height: calc(100% - 50px);
    overflow: auto;
    font-size: 0;
    transition: right 0.3s;

    &.open {
        right: 0;
    }

    & > div {
        padding: 10px 20px;
    }

    &__links {
        background-color: #c178c7;

        @media (min-width: 980px) {
            height: 40px;
            line-height: 40px;
        }
    }

    &__menu-wrap {
        background-color: #f3f1ea;

        @media (min-width: 980px) {
            height: 40px;
            line-height: 40px;
            background-color: #fff;
            border-top: 2px solid #ebebeb;
        }

        @media (min-width: 1440px) {
            height: 60px;
            line-height: 60px;
        }
    }

    &__dop-links {
        @media (min-width: 980px) {
            height: 60px;
            line-height: 60px;
            text-align: right;
        }
    }

    &__menu-item {
        @media (max-width: 979px) {
            white-space: nowrap;
        }
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        font-size: 16px;
        color: #404040;
        padding: 3px 0;

        &:hover, &:active, &:focus {
            color: inherit;
            text-decoration: none;
        }

        &--log {
            width: 50%;
            margin-bottom: 10px;

            &:nth-child(2) {
                text-align: right;
            }

            @media (min-width: 980px) {
                float: right;
                margin-bottom: 0;
            }
        }

        &--links {
            color: #fff;
            padding-left: 25px;
            position: relative;
            font-size: .82rem;
            font-family: 'FedraSansPro-Light';

            &:hover, &:active, &:focus {
                color: #fff;
            }

            &:before {
                display: inline-block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            @media (min-width: 980px) {
                padding: 0;
                padding-left: 22px;
                margin-right: 18px;

                &:before {
                    top: 57%;
                }
            }
        }

        &--dop-links {

            font-size: .82rem;
            font-family: 'FedraSansPro-Light';

            @media (min-width: 980px) {
                padding: 0;
                margin-right: 15px;
            }

            &:nth-child(5) {

                @media (min-width: 980px){
                    margin-right: 30px;
                }
            }
        }

        &--personal {
            margin-right: 0;
        }

        &--programm:before {
            content: url(../images/programm.png);
            left: 1px;
        }
        &--travel:before {
            content: url(../images/travel.png);
            left: -1px;
        }
        &--index-icon:before {
            content: url(../images/index-icon.png);
        }
        &--market:before {
            content: url(../images/market.png);
            left: 2px;
        }
        &--local {
            @media screen and (max-width: 979px){
                padding-top: 1px;
                &:before {
                    top: 13px;
                }
            }
        }
        &--local:before {
            content: url(../images/local.png);
            left: -8px;
            @media screen and (min-width: 980px){
                top: 23px;
            }
            position: relative;
        }
        &--personal:before {
            content: url(../images/personal.png);
            left: 2px;
            top: 50%;
            @media screen and (min-width: 980px){
                top: 22px;
            }
        }

        &--no-active {
            color: #e6c9e9;

            &:hover, &:active, &:focus {
                color: #e6c9e9;
            }
        }

        &--question {
            color: #c178c7;

            &:hover, &:active, &:focus {
                color: #c178c7;
            }
        }

        &--drop {

            position: relative;

            &:before, &:after {
                content: '';
                width: 11px;
                height: 1px;
                background-color: #c178c7;
                position: absolute;
                right: 0;
                top: 14px;
                transition: transform 0.3s;

                @media (min-width: 980px) {
                    display: none;
                }
            }

            &:after {
                transform: rotate(-90deg);
            }

            &.drop {
                color: #ffae24;
                @media (min-width: 980px) {
                    background-color: #c178c7;
                    color: #fff;
                }
                overflow: visible;

                &:after,&:before {
                    transform: rotate(0deg);
                    background-color: #ffae24;
                }

                > div {
                    @media (min-width: 980px) {
                        display: block;
                    }
                }
            }

            & > div {
                @media (min-width: 980px) {
                    position: absolute;
                    display: none;
                    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
                    background-color: #fff;
                    border-radius: 1px;
                    padding: 10px 0;
                    line-height: 22px;
                    width: 315px;
                    left: 0;
                    top: 40px;
                    z-index: 5;
                }

                @media (min-width: 1440px) {
                    top: 60px;
                    line-height: 34px;
                    width: 460px;
                }

                &:after {

                    @media (min-width: 980px) {
                        content: '';
                        width: 2px;
                        height: 64%;
                        top: 17%;
                        position: absolute;
                        left: calc(50% - 1px);
                        background-color: #ebebeb;
                        }
                }

                a {
                    @media (min-width: 980px) {
                        padding: 0 20px;
                        width: 50%;
                        display: inline-block;
                        font-size: .8rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &:hover, &:focus, &:active {
                        @media (min-width: 980px) {
                            color: #c178c7;
                        }
                    }
                }
            }

            &:nth-child(7), &:nth-child(8), &:nth-child(9) {
                & > div {
                    @media (min-width: 980px) {
                        left: inherit;
                        right: 0;
                    }
                }
            }

            &:nth-child(5), &:nth-child(6){
                & > div {
                    @media (min-width: 1440px) {
                        left: inherit;
                        right: 0;
                    }
                }
            }

            @media (min-width: 980px) {
                width: auto;
                padding: 0 16px;
                font-size: .941rem;
                position: relative;
            }

            &:last-child {
                @media (min-width: 980px) {
                    padding: 0 21px;
                }
            }

            &:hover, &:focus, &:active {

                @media (min-width: 980px) {
                    background-color: #c178c7;
                    color: #fff;
                }

                & > div {
                    @media (min-width: 980px) {
                        display: block;
                    }
                }
            }
        }

        @media (min-width: 980px) {
            width: auto;
        }
    }

    .js-drop {
        height: 0;
        transition: height 0.3s;
        overflow: hidden;

        .object {
            padding-left: 20px;
            border-left: 2px solid #ffae24;
        }
    }

    .container {
        @media (max-width: 989px) {
            margin: 0;
            padding: 0;
        }
    }

    @media (min-width: 768px) {
        top: 65px;
        height: calc(100% - 65px);
    }
}

.menu-overlay {
    opacity: 0;
    transition: opacity 0.6s;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 9;

    &.open {
        height: 100%;
        transition: opacity 0.6s;
        opacity: 1;
    }
}

body.ie {
    .js-menu-item--local:before {
        @media (min-width: 980px) {
            top: 11px;
        }
    }
}