include ../template/mixins.pug
include ../../../node_modules/bemto.pug/bemto.pug
- set_bemto_settings({ modifier: '--' })

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Спасибо от Сбербанк
        meta(name="application-name" content="Спасибо от Сбербанка")
        meta(name="description" content="Программа «Спасибо от Сбербанка» — платить картой выгодно! Скидки в магазинах-партнерах, начисление бонусов за покупки по всему миру. Правила программы и условия участия.")
        meta(name="keywords" content="")
        link(rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/icons/favicon.ico")
        link(rel="icon" sizes="128x128" href="/assets/images/icons/icon-128x128.png")
        link(rel="icon" sizes="192x192" href="/assets/images/icons/icon-192x192.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/assets/images/icons/apple-touch-icon.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-touch-icon-152x152.png")
        +style()
    body
        include ../template/header.pug
        include ../template/arrow-up.pug
        include ../template/message.pug
        include ../template/banner.pug
        include ../template/events.pug
        include ../template/about-bonus.pug
        include ../template/footer.pug
        +script()



