+b.about-bonus
    .container
        h2 Портал Впечатления - все мероприятия в одном месте!
        +e('ul').list
            +e('li').item
                +e.group
                    +e.image
                        img(src="./assets/images/about-bonus-1.svg" alt="about-bonus-1" title="")
                    +e.description
                        +e.title Развлечения на любой вкус
                        +e.caption В нашем каталоге более 3500 событий для каждого
                        +e('a')(href="javascript:void(0)" title="").link Узнать больше
            +e('li').item
                +e.group
                    +e.image
                        img(src="./assets/images/about-bonus-2.svg" alt="about-bonus-2" title="")
                    +e.description
                        +e.title Билеты почти бесплатно
                        +e.caption Просто обменивайте бонусы на скидку до 99% при покупке
                        +e('a')(href="javascript:void(0)" title="").link Узнать больше
            +e('li').item
                +e.group
                    +e.image
                        img(src="./assets/images/about-bonus-3.svg" alt="about-bonus-3" title="")
                    +e.description
                        +e.title А еще и до 15% СПАСИБО
                        +e.caption Развлекайтесь и получайте дополнительно до 15% бонусами
                        +e('a')(href="javascript:void(0)" title="").link Узнать больше