+b.banner
    .container
        h2 Онлайн Маркет — простой и приятный способ тратить бонусы СПАСИБО
        +e.slider.js-slider-banner
            +e.item
                img(src="./assets/images/banner-1.jpg" alt="banner-1" title="")
            +e.item
                img(src="./assets/images/banner-2.jpg" alt="banner-2" title="")
            +e.item
                img(src="./assets/images/banner-1.jpg" alt="banner-1" title="")
            +e.item
                img(src="./assets/images/banner-2.jpg" alt="banner-2" title="")