mixin event()
    +e('li').wrap-event.js-wrap-event
        +b('a')(href='javascript:void(0);').event    
            +e('div').avatar
                img(src='assets/images/event.png' alt="event" title="")
            +e('div').detail
                +e('div').buy Купить билет
                +e('div').title 
                    +e.title-item Clean bandit
                    +e.title-item Line
                +e('div').date
                    +e('span') 15 июль
                    +e('span') сб 19:00
                +e('div').local Стадион "Открытие&nbsp;Арена"
                +e('div').price 6000 - 9500
    
+b.events
    .container   
        +e.event-btn.js-event-btn Показать еще
        h2 Самые горячие предложения
    .container
        +e.DIV.list.js-events
            +e.UL
                +event()
                +event()
                +event()
                +event()
                +event()
                +event()
                +event()
                +event()
                +event()
                +event()
+b.events 
    .container   
        +e.event-btn.js-event-btn Показать еще
        h2 Не менее популярные события
    .container
        +e.DIV.list.js-events
            +e.UL
                +event()
                +event()
                +event()
                +event()
                +event()
                +event()
                +event()
                +event()
                +event()
                +event()
