include menu.pug
include search.pug
+b('footer').footer
    .container
        +e.group
            +e('a')(href="javascript:void(0)" title="").logo
                img(src="./assets/images/logo-sber.svg" alt="logo" title="")
            +e.phone
                a(href="tel:88005551567" title="")
                    img(src="./assets/images/phone.jpg" alt="phone" title="")
                    | 8 800 555 15 67
                p По России бесплатно
        +e.navigation
            +e('ul').list
                +e('li').item
                    a(href="javascript:void(0)" title="") Как это работает?
                +e('li').item
                    a(href="javascript:void(0)" title="") Мой заказ
                +e('li').item
                    a(href="javascript:void(0)" title="") О проекте
                +e('li').item
                    a(href="javascript:void(0)" title="") новости
                +e('li').item
                    a(href="javascript:void(0)" title="") Вопросы и ответы
                +e('li').item
                    a(href="javascript:void(0)" title="") Правила программы
        +e.panel
            +e('ul').social-list
                +e('li').social-item
                    a(href="javascript:void(0)" title="")
                        img(src="./assets/images/od.svg" alt="od" title="")
                +e('li').social-item
                    a(href="javascript:void(0)" title="")
                        img(src="./assets/images/facebook.svg" alt="facebook" title="")
                +e('li').social-item
                    a(href="javascript:void(0)" title="")
                        img(src="./assets/images/vk.svg" alt="vk" title="")
            +e.group-link
                +e('a')(href="javascript:void(0)" title="").link
                    img(src="./assets/images/app-store.svg" alt="app-store" title="")
                +e('a')(href="javascript:void(0)" title="").link
                    img(src="./assets/images/google-play.svg" alt="google-play" title="")
    +e.copyright
        .container
            p © 1997—2017 ПАО Сбербанк.
            p Политика конфиденциальности
+search-popup()
+menu-popup()  