header
    +b.header
        .container
            +e.menu-btn.js-menu-open
                +e.menu-line
                +e.menu-line
                +e.menu-line
            +e.search.js-search-open
                img(src="./assets/images/search.png" alt="search" title="")
                +e.search-line
                +e.search-line
            +e.logo.js-logo
                img(src="./assets/images/logo.png" alt="logo" title="")