mixin menu-popup()
    .menu-overlay
    +b.menu#popup-menu
        +e.links.js-header-links
            .container
                +e('a')(href='javascript:void(0);').menu-item--links.--log.--personal.js-menu-item--personal Войти
                +e('a')(href='javascript:void(0);').menu-item--links.--log.--local.js-menu-item--local Москва
                +e('a')(href='javascript:void(0);').menu-item--links.--no-active.--programm Программа
                +e('a')(href='javascript:void(0);').menu-item--links.--no-active.--travel Путешествия
                +e('a')(href='javascript:void(0);').menu-item--links.--index-icon Впечатления
                +e('a')(href='javascript:void(0);').menu-item--links.--no-active.--market Онлайн Маркет
        +e.menu-wrap.js-header-menu-wrap
            .container
                +e('a')(href='javascript:void(0);').__menu-item.--drop.js-item-drop Все мероприятия
                div.js-drop
                    .object
                        +e('a')(href='javascript:void(0);').menu-item Элемент 1
                        +e('a')(href='javascript:void(0);').menu-item Элемент 2
                        +e('a')(href='javascript:void(0);').menu-item Элемент 3
                        +e('a')(href='javascript:void(0);').menu-item Элемент 4
                        +e('a')(href='javascript:void(0);').menu-item Элемент 5
                        +e('a')(href='javascript:void(0);').menu-item Элемент 1
                        +e('a')(href='javascript:void(0);').menu-item Элемент 2
                        +e('a')(href='javascript:void(0);').menu-item Элемент 3
                        +e('a')(href='javascript:void(0);').menu-item Элемент 4
                        +e('a')(href='javascript:void(0);').menu-item Элемент 5
                +e('a')(href='javascript:void(0);').__menu-item.--drop.js-item-drop Развлечения
                div.js-drop
                    .object
                        +e('a')(href='javascript:void(0);').menu-item Элемент 1
                        +e('a')(href='javascript:void(0);').menu-item Элемент 2
                        +e('a')(href='javascript:void(0);').menu-item Элемент 3
                +e('a')(href='javascript:void(0);').__menu-item.--drop.js-item-drop Футбол
                div.js-drop
                    .object
                        +e('a')(href='javascript:void(0);').menu-item Элемент 1
                        +e('a')(href='javascript:void(0);').menu-item Элемент 2
                        +e('a')(href='javascript:void(0);').menu-item Элемент 3
                +e('a')(href='javascript:void(0);').__menu-item.--drop.js-item-drop Концерты
                div.js-drop
                    .object
                        +e('a')(href='javascript:void(0);').menu-item Классика
                        +e('a')(href='javascript:void(0);').menu-item Рок
                        +e('a')(href='javascript:void(0);').menu-item Поп/Эстрада
                        +e('a')(href='javascript:void(0);').menu-item Джаз
                        +e('a')(href='javascript:void(0);').menu-item Народная/Фолк
                        +e('a')(href='javascript:void(0);').menu-item Авторская/Шансон/Романсы
                        +e('a')(href='javascript:void(0);').menu-item Хип-хоп
                        +e('a')(href='javascript:void(0);').menu-item Электронная музыка
                        +e('a')(href='javascript:void(0);').menu-item Другое
                        +e('a')(href='javascript:void(0);').menu-item Клубы
                +e('a')(href='javascript:void(0);').__menu-item.--drop.js-item-drop Театры
                div.js-drop
                    .object
                        +e('a')(href='javascript:void(0);').menu-item Элемент 1
                        +e('a')(href='javascript:void(0);').menu-item Элемент 2
                        +e('a')(href='javascript:void(0);').menu-item Элемент 3
                +e('a')(href='javascript:void(0);').__menu-item.--drop.js-item-drop Шоу
                div.js-drop
                    .object
                        +e('a')(href='javascript:void(0);').menu-item Элемент 1
                        +e('a')(href='javascript:void(0);').menu-item Элемент 2
                        +e('a')(href='javascript:void(0);').menu-item Элемент 3
                +e('a')(href='javascript:void(0);').__menu-item.--drop.js-item-drop Детям
                div.js-drop
                    .object
                        +e('a')(href='javascript:void(0);').menu-item Элемент 1
                        +e('a')(href='javascript:void(0);').menu-item Элемент 2
                        +e('a')(href='javascript:void(0);').menu-item Элемент 3
                +e('a')(href='javascript:void(0);').__menu-item.--drop.js-item-drop Спорт
                div.js-drop
                    .object
                        +e('a')(href='javascript:void(0);').menu-item Элемент 1
                        +e('a')(href='javascript:void(0);').menu-item Элемент 2
                        +e('a')(href='javascript:void(0);').menu-item Элемент 3
                +e('a')(href='javascript:void(0);').__menu-item.--drop.js-item-drop Разное
                div.js-drop
                    .object
                        +e('a')(href='javascript:void(0);').menu-item Элемент 1
                        +e('a')(href='javascript:void(0);').menu-item Элемент 2
                        +e('a')(href='javascript:void(0);').menu-item Элемент 3
        +e.dop-links.js-header-dop-links
            .container
                +e('a')(href='javascript:void(0);').menu-item--dop-links.--question Как это работает?
                +e('a')(href='javascript:void(0);').menu-item--dop-links О проекте
                +e('a')(href='javascript:void(0);').menu-item--dop-links Площадки
                +e('a')(href='javascript:void(0);').menu-item--dop-links Вопросы и ответы
