mixin style()
    -var styles = ['vendor.min.css', 'common.min.css']
    each item in styles
        link(rel='stylesheet' type="text/css" href='./assets/css/' + item)

mixin script()
    -var scripts = ['vendor.min.js', 'common.min.js']
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-120936965-1" async)
    each item in scripts
        script(src='./assets/js/' + item)
    noscript
        div
            img(src="https://mc.yandex.ru/watch/49292653" style="position:absolute; left:-9999px;" alt="")
