mixin search-popup()
    +b('form').search#popup-search
        +e.wrap.js-search
            +e.label.js-search-label Поиск
            +e('input').input
            +e.search-btn
                img(src="./assets/images/search-desk.png" alt="search" title="")
        
