.banner {
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
    padding-top: 35px;
    padding-bottom: 14px;
    border: 1px solid #ebe9e1;

    @media (min-width: 768px) {
    	padding-bottom: 20px;
    }

    &__slider {
    	@media (min-width: 768px) {
    		margin: 0 -5px;
    	}
    }

    &__item {
    	@media (min-width: 768px) {
    		padding: 0 5px;
    	}
    	img {
    		width: 100%;
    		height: auto;
    	}
    }

    @media (min-width: 980px) {
    	.slick-arrow {
    		background-color: #fff;
    		padding: 0;
    		font-size: 0;
    		border: none;
    		width: 34px;
    		height: 34px;
    		border-radius: 100%;
    		position: absolute;
    		top: -34px;
    		bottom: 0;
    		margin: auto;
    		z-index: 1;
    		cursor: pointer;

    		&:after {
    			content:"";
    			display: block;
    			width: 10px;
    			height: 10px;
    			transform: rotate(45deg);
    			position: absolute;
    			top: 0;
    			bottom: 0;
    			left: 0;
    			right: 0;
    			margin: auto;
    		}

    		&:hover {
    			background-color: #c178c7;

    			&:after {
    				border-color: #fff;
    			}
    		}

            &:focus {
                outline: none;
            }
    	}

    	.slick-prev {
    		left: -13px;

    		&:after {
				border-bottom: 1px solid #c178c7;
    			border-left: 1px solid #c178c7;
    			left: 3px;
    		}
    	}

    	.slick-next {
    		right: -13px;

    		&:after {
    			border-top: 1px solid #c178c7;
    			border-right: 1px solid #c178c7;
    			right: 3px;
    		}
    	}
    }

    .slick-dots {
    	padding-left: 0;
    	font-size: 0;
    	padding-top: 10px;
		text-align: center;
		margin-bottom: 0;

		@media (min-width: 768px) {
			padding-top: 21px;
		}


    	li {
    		list-style: none;
    		display: inline-block;
    		vertical-align: top;
    		margin-right: 11px;

    		button {
    			border: none;
	    		background-color: #c0c6c6;
	    		width: 8px;
	    		height: 8px;
	    		border-radius: 100%;
	    		padding: 0;
	    		box-shadow: none;
	    		cursor: pointer;
    		}

    		&:last-child {
    			margin-right: 0;
    		}

    		&.slick-active {

    			button {
    				background-color: #c178c7;

                    &:focus {
                        outline: none;
                    }
    			}
    		}
    	}
    }
}
