.message {
    position: fixed;
    right: 14px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
    width: 50px;
    height: 50px;
    z-index: 6;

    @media (min-width: 980px) {
        display: block;
    }

    &__link {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #c178c7;
        box-shadow: 10px 10px 18px 0 rgba(42,41,40, 0.15);
        overflow: hidden;

        img {
            position: absolute;
            width: 80%;
            height: auto;
            top: 5px;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
    }
}
