.search {

    position: fixed;
    width: 90%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 35px;
    z-index: 15;
    transition: top 0.3s;

    &__wrap {
        display: inline-block;
        position: relative;
        background-color: #fff;
        width: 100%;

        @media (min-width: 980px) {
            width: 150px;
        }
    }

    &__label {
        color: #b2b4b4;
        position: absolute;
        left: 10px;
        font-size: 0.8rem;
        top: 5px;
        z-index: 0;

        @media (min-width: 980px) {
            top: 0;
        }

        &.hide {
            display: none;
        }
    }

    &__input {
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
        background-color: transparent;
        border-radius: 2px;
        border: none;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        padding-right: 30px;
        position: relative;
        border: 1px solid #e1e6e6;
        font-size: 0.8rem;
        line-height: 28px;
        vertical-align: middle;

        &:focus, :hover, :active {
            outline: none;
        }

        @media (min-width: 980px) {
            width: 150px;
            height: 28px;
            box-shadow: none;
            position: relative;
            top: -2px;
        }
    }

    &.open{
        top: 63px;

        @media (min-width: 768px) {
            top: 75px;
        }
    }

    &__search-btn {
        position: absolute;
        right: 7px;
        top: 3px;

        img {
            width: 14px;
            height: 14px;

            &:nth-child(1) {
                @media (min-width: 980px) {
                    display: none;
                }
            }

            &:nth-child(2) {
                @media (min-width: 980px) {
                    display: block;
                    top: 19px;
                    position: absolute;
                    right: 5px;
                }
            }
        }
    }

    @media (min-width: 980px) {
        display: none;
    }
}

body.ie {
    .search {
        &__input {

        }
    }
}