header {
    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-bottom: 65px;
    }

    @media (min-width: 980px) {
        margin-bottom: 140px;
    }

    @media (min-width: 1440px) {
        margin-bottom: 160px;
    }
}
.header {

    padding: 9px 0;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;

    @media (min-width: 768px) {
        height: 65px;
        padding: 10px 0;
    }

    @media (min-width: 980px) {
        height: auto;
        padding: 0;
        box-shadow: none;
    }

    &__logo {
        cursor: pointer;
        img {
            width: 75px;
            height: 32px;
            position: relative;
            left: -2px;

            @media (min-width: 768px) {
                width: 102px;
                height: 44px;
            }

            @media (min-width: 980px) {
                height: 45px;
            }
        }

        @media (min-width: 980px) {
            display: inline-block;
            vertical-align: top;
            float: left;
        }
    }

    &__search {

        float: right;
        margin: 5px 20px 8px 0;
        position: relative;
        cursor: pointer;

        @media (min-width: 768px) {
            margin: 12px 20px 8px 0;
        }

        @media (min-width: 980px) {
            display: none;
        }

        img {
            width: 22px;
            height: 22px;
            position: relative;
            bottom: 2px;
            transition: opacity 0.3s;
        }

        &.open img {
            opacity: 0;
        }

        &.open > div {
            opacity: 1;
        }
    }

    &__search-line {
        width: 24px;
        height: 2px;
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
        background-color: #ffae24;
        top: 10px;
        transform: rotate(45deg);

        &:nth-child(2) {
            transform: rotate(-45deg);
        }
    }

    &__menu-btn {
        float: right;
        position: relative;
        margin: 8px 0;
        width: 24px;
        height: 16px;
        cursor: pointer;

        @media (min-width: 768px) {
            margin: 14px 0;
        }

        @media (min-width: 980px) {
            display: none;
        }

        &.open > div {
            background-color: #ffae24;
            top: 7px;

            &:nth-child(1) {
                transform: rotate(-45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(45deg);
            }
        }
    }

    &__menu-line {
        width: 24px;
        height: 2px;
        background-color: #c178c7;
        position: absolute;
        left: 0;
        top: 0;
        transition: transform 0.3s, top 0.3s;

        &:nth-child(2) {
            top:7px;
        }
        &:nth-child(3) {
            top:14px;
        }
    }
}
