.events {

    background-color: #f7f5f0;
    font-size: 0;
    text-align: center;
    padding-top: 20px;

    @media (min-width: 768px) {
        padding-top: 40px;
    }

    @media (min-width: 980px) {
        padding-top: 20px;
    }

    @media (min-width: 1440px) {
        padding-top: 40px;
    }

    &__event-btn {
        font-size: .88rem;
        float: right;
        color: #c178c7;
        border-bottom: 1px dashed #c178c7;
        line-height: 1.1rem;
        margin-top: 5px;
        cursor: pointer;
        @media (min-width: 768px) {
            margin-top: 8px;
        }

        @media (min-width: 980px) {
            margin-top: 5px;
        }

        @media (min-width: 1440px) {
            margin-top: 8px;
        }
    }

    &__list {
        transition: height 0.5s ease-out;
        overflow: hidden;

        ul {
            padding-left: 0;
            margin: 0 -7px;

            @media (min-width: 640px) {
                margin: 0 -10px;
            }

            @media (min-width: 980px) {
                margin: 0 -5px;
            }
        }
    }

    &__wrap-event {
        list-style-type: none;
        display: inline-block;
        vertical-align: top;
        padding: 7px;

        @media (min-width: 640px) {
            padding: 11px;
        }

        @media (min-width: 768px) {
            padding: 10px;
        }

        @media (min-width: 980px) {
            padding: 5px;
        }
    }

    .event {
        width: 133px;
        background-color: #fff;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        color: inherit;

        &:hover, &:active, :focus {
            text-decoration: none;
        }

        @media (min-width: 768px) {
            width: 160px;
        }


        @media (min-width: 980px) {
            width: 180px;
        }

        &__avatar {
            img {
                width: 133px;
                height: 190px;

                @media (min-width: 768px) {
                    width: 160px;
                    height: 230px;
                }

                @media (min-width: 980px) {
                    width: 180px;
                    height: 261px;
                }
            }
        }

        &__detail {
            font-size: .6rem;
            padding: 7px;
            position: relative;

            @media (min-width: 768px) {
                font-size: .82rem;
            }

            &:before {
                content:"";
                display: block;
                width: 100%;
                height: calc(100% + 60px);
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                box-shadow: 8px 8px 15px rgba(0, 1, 25, 0.12);
                opacity: 0;
                transition: opacity 0.3s;
                background-color: #fff;
            }
        }

        &__title {
            line-height: 12px;
            padding: 5px 0;
            font-family: 'FedraSansPro-Medium';
            position: relative;
            z-index: 1;

            @media (min-width: 768px) {
                line-height: 16px;
            }
        }

        &__date {
            position: relative;
            z-index: 1;
            text-transform: uppercase;
            padding: 5px 0;
            font-family: 'FedraSansPro-Medium';

            span:nth-child(1) {
                margin-right: 6px;
            }
            span:nth-child(2) {
                color: #a9abab;
            }
        }

        &__local {
            line-height: 11px;
            padding: 5px 0 3px;

            @media (min-width: 768px) {
                line-height: 16px;
            }
        }

        &__local, &__price {
            color: #707070;
            padding-left: 12px;
            position: relative;
            font-family: 'FedraSansPro-Demi';

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 6px;
                width: 7px;
                height: .6rem;
                background-size: 100%;
                background-repeat: no-repeat;

                @media (min-width: 768px) {
                    width: 11px;
                    height: .88rem;
                }
            }

            @media (min-width: 768px) {
                padding-left: 15px;
            }
        }

        &__local:before {
            background-image: url(../images/event-local.png);
        }

        &__price:before {
            background-image: url(../images/event-price.png);
            top: 3px;
        }

        &__buy {
            background-color: #c178c7;
            color: #fff;
            text-align: center;
            height: 38px;
            line-height: 38px;
            width: calc(100% - 14px);
            position: absolute;
            top: -49px;
            left: 7px;
            display: none;
            opacity: 0;
            transition: opacity 0.3s;

            @media (min-width: 980px) {
                display: block;
            }
        }

        @media (min-width: 980px) {
            &:hover {
                .event__detail {
                    &:before {
                        opacity: 1;
                    }
                }

                .event__buy {
                    opacity: 1;
                }
            }
        }
    }
}
