@font-face {
  font-family: 'FedraSansPro-Medium';
  src: url('../fonts/FedraSansPro-Medium.eot');
  src: url('../fonts/FedraSansPro-Medium.woff2') format('woff2'),
       url('../fonts/FedraSansPro-Medium.woff') format('woff'),
       url('../fonts/FedraSansPro-Medium.ttf') format('truetype'),
       url('../fonts/FedraSansPro-Medium.svg#FedraSansPro-Medium') format('svg'),
       url('../fonts/FedraSansPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FedraSansPro-Light';
  src: url('../fonts/FedraSansPro-Light.eot');
  src: url('../fonts/FedraSansPro-Light.woff2') format('woff2'),
       url('../fonts/FedraSansPro-Light.woff') format('woff'),
       url('../fonts/FedraSansPro-Light.ttf') format('truetype'),
       url('../fonts/FedraSansPro-Light.svg#FedraSansPro-Light') format('svg'),
       url('../fonts/FedraSansPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FedraSansPro-Demi';
  src: url('../fonts/FedraSansPro-Demi.eot');
  src: url('../fonts/FedraSansPro-Demi.woff2') format('woff2'),
       url('../fonts/FedraSansPro-Demi.woff') format('woff'),
       url('../fonts/FedraSansPro-Demi.ttf') format('truetype'),
       url('../fonts/FedraSansPro-Demi.svg#FedraSansPro-Demi') format('svg'),
       url('../fonts/FedraSansPro-Demi.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FedraSansPro-Book';
  src: url('../fonts/FedraSansPro-Book.eot');
  src: url('../fonts/FedraSansPro-Book.woff2') format('woff2'),
       url('../fonts/FedraSansPro-Book.woff') format('woff'),
       url('../fonts/FedraSansPro-Book.ttf') format('truetype'),
       url('../fonts/FedraSansPro-Book.svg#FedraSansPro-Book') format('svg'),
       url('../fonts/FedraSansPro-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FedraSansPro-Bold';
  src: url('../fonts/FedraSansPro-Bold.eot');
  src: url('../fonts/FedraSansPro-Bold.woff2') format('woff2'),
       url('../fonts/FedraSansPro-Bold.woff') format('woff'),
       url('../fonts/FedraSansPro-Bold.ttf') format('truetype'),
       url('../fonts/FedraSansPro-Bold.svg#FedraSansPro-Bold') format('svg'),
       url('../fonts/FedraSansPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
