html {
    font-size: 1em;
}

body {
    color: #404040;
    font-family: 'FedraSansPro-Book';
}

.container {
    padding: 0 20px;
    max-width: 100%;
    width: 100%;

    @media (min-width: 768px) {
        padding: 0 34px;
    }

    @media (min-width: 980px) {
        width: 1020px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

h2 {
    text-align: left;
    font-size: 1.24rem;
    line-height: 1.4rem;
    margin-bottom: 15px;

    @media (min-width: 768px) {
        font-size: 1.882rem;
        line-height: 2rem;
    }

    @media (min-width: 980px) {
        font-size: 1.24rem;
    }

    @media (min-width: 1440px) {
        font-size: 1.882rem;
    }
}
