.arrow-up {
    position: fixed;
    left: 14px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
    width: 50px;
    height: 50px;
    z-index: 6;

    @media (min-width: 980px) {
        display: block;
    }

    &__link {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #fff;
        box-shadow: 10px 10px 18px 0 rgba(42,41,40, 0.15);

        &:after {
            content:"";
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            top: 23px;
            left: 20px;
            transform: rotate(45deg);
            border-top: 2px solid #959a9a;
            border-left: 2px solid #959a9a;
        }
    }
}
