.about-bonus {
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
    padding-bottom: 10px;
    padding-top: 31px;

    @media (min-width: 768px) {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    &__image {
        width: 56px;
        display: inline-block;
        vertical-align: top;

        img {
            width: 100%;
            height: auto;
        }

        @media (min-width: 768px) {
            display: inline-block;
            width: 73px;
            margin-bottom: 26px;
        }
    }

    &__description {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 56px);
        padding-left: 15px;
        padding-top: 6px;
        font-family: 'FedraSansPro-Demi';

        @media (min-width: 768px) {
            display: block;
            width: 100%;
            padding-left: 0;
            padding-top: 0;
        }
    }

    &__list {
        padding-left: 0;
        font-size: 0;

        @media (min-width: 768px) {
            margin: 0 -10px;
        }
    }

    &__item {
        list-style: none;
        margin-bottom: 7px;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            width: calc(100% / 3);
            display: inline-block;
            vertical-align: top;
            text-align: center;
            margin-bottom: 0;
            padding: 0 10px;
        }
    }

    &__group {
        background-color: #fff;
        padding: 20px 20px 20px 12px;

        @media (min-width: 768px) {
            padding-top: 29px;
        }
    }

    &__title {
        color: #404040;
        font-size: .83rem;
        line-height: 1.3rem;
        margin-bottom: 10px;

        @media (min-width: 768px) {
            margin-bottom: 0;
            height: 58px;
            font-size: 1.06rem;
        }

        @media (min-width: 980px) {
            height: 40px;
        }
    }

    &__caption {
        color: #969999;
        font-size: .65rem;
        line-height: 14px;
        margin-bottom: 21px;

        @media (min-width: 768px) {
            height: 108px;
            margin-bottom: 0;
            font-size: .88rem;
            padding: 0 10px;
        }

        @media (min-width: 980px) {
            height: 70px;
        }
    }

    &__link {
        color: #c178c7;
        font-size: .7rem;
        line-height: 18px;

        &:hover, &:focus {
            color: #c178c7;
            text-decoration: none;
        }

        @media (min-width: 768px) {
            font-size: .89rem;
        }
    }
}
